$orange: #FFA74F;
$textCol: #ECECEC;
$boxCol: #3C3F49;
$orangeGradient: linear-gradient(#FFA74F, #CC7400);
$backgroundGradient: linear-gradient(#383C45, #262A34);
$menuGradient: linear-gradient(#2E3138, #1C1C1C);